
    <div class="container-fluid">
        <div class="row" style="background-color:black; color:white;">
            
            <div class="col-sm-2">
<h4>Shopper.</h4>
<i class="fa fa-facebook-square" aria-hidden="true"></i>
<i class="fa fa-twitter" aria-hidden="true"></i>
<i class="fa fa-instagram" aria-hidden="true"></i>
<i class="fa fa-youtube-play" aria-hidden="true"></i>

            </div>
            <div class="col-sm-2">
                <ul>
                    <h4>SUPPORT</h4>
                    <li>
                        Contct Us
                    </li>
                    <li>FAQs</li><li>Size Guide</li><li>Shipping & Returns</li>
                </ul>
                
            </div>
            <div class="col-sm-3">
                <ul>
                    <H4>SHOP</H4>
                    <li>Men's Shopping</li>
                    <li>Women's Shopping</li>
                    <li>Kid's Shopping</li>
                    <li>Discounts</li>

                </ul>
            </div>
            <div class="col-sm-2">
                <ul><h5>OUR COMPANY</h5>
                    <li>Our Story</li>
                    <li>Carrers</li>
                    <li>Term's & Condiation</li>
                    <li>Privancy & Cookie policy</li>

                </ul>
            </div>
            <div class="col-sm-3">
                <ul><h4>CONTACT</h4>
                    <li>101-3434-345</li>
                    <li>101-3434-345</li>
                    <li>help@shopper.com</li>

                    </ul>
            </div>
        </div>
    </div>